*.pyc
.nfs*
o
out
out_raw*
*.dat
*.o
__pycache__
*.tar.gz
*.tar
*.zip
*.swo
*.swp
*.un~
*.prog
*.dSYM/
!ex/
ex1
ex2
ex3
ex4
a.out
.DS_Store
*.pdf
html
latex
Default
libautotune/dep
libautotune/obj
libautotune/lib
ex/dep
ex/obj
ex/bin
tools/*/dep
tools/*/obj
tools/*/bin
blossomv_*
blossomv/blossom5
process/virtualenv*
process/AutotuneVE
process/convertruns
process/*.ps
process/*.dat
blossomv
